@mixin btn ($color1,$color2) {
	color: $color1;
	transition: all 0.3s;
	border-radius: 3px;
	background-color: $color2;
	font-size: 14px;
	padding: 5px 22px;
	cursor: pointer;
	
	@media (max-width:1151px){
		margin:10px auto;
	}
}