
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: rgb(255, 255, 255);
	color:$text-color-black;
	line-height: 32px;
	letter-spacing: .2px;
	scroll-behavior: smooth;
	transition: 2s;

	a {
		text-decoration: none;
		color: $text-color-black;

		&:focus {
			outline: unset;
		}
	}
	button {
		border-width: unset;
		border-style: unset;
		border-color: unset;
		border-image: unset;
		background-color: unset;

		&:focus {
			outline: unset;
		}
	}
}