.headImg {
  margin-top:100px;
  position: relative;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos/kirill2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 1150px) {
    margin-top: 86px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/photos/kirill.jpg");
  }

  @media screen and (max-width: 768px) {
    margin-top: 67px;
  }
}

.headImg__search {
  padding: 80px 10px;
  text-align: center;
  color: $white;

  p {
   font-size: 20px;
   line-height: 3.85;
 }

 h1 {
   font-size: 40px;
   font-weight: 500;
   line-height: 1.25;
 }

 h5 {
   font-size: 30px;
   font-weight: 500;
   line-height: 1.67;
   margin-bottom: 20px;
 }

 .headImg__search__filters {
   margin-bottom: 80px;

   form {
     padding: 30px;
     background: $white;
     display: inline;
     border-radius: 3px;

     select {
      margin: 50px -2px;
      padding: 15px 60px 15px 20px;
      font-size: 19px;
      border: 1px solid #CCC;
      color: $text-gray;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: url("../images/svg/arrow-point-to-right.svg") 93% / 10% no-repeat $white;
      /* CAUTION: Internet Explorer hackery ahead */
      &::-ms-expand {
        display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
      }
      /* Target Internet Explorer 9 to undo the custom arrow */
      @media screen and (min-width:0\0) {
       background: none\9;
       padding: 5px\9;
     }
   }
   input {
     margin: 50px -2px;
     padding: 15px 60px 15px 20px;
     font-size: 19px;
     border: 1px solid #CCC;
     color: $text-gray;
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
   }
   .headImg__search__filters__submit {
    text-align: center;
    color: $white;
    background: $blue;
    font-weight: bold;
    padding: 16px 22px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
}

a {
  @include btn ($white, $green);
  border: none;
  outline: 0;
  display: inline-block;
  font-size: 19px;
  font-weight: bold;
  text-align: center;
  line-height: 47px;

  :hover {
    background-color: #555;
    color: white;
  }
}

@media (max-width: 1257px) {
 .headImg__search__filters {
  margin-top: 30px;

  form {
    display: inline-table;

    select {
      margin: 0 -2px 5px 0px;
    }

    .headImg__search__filters__adress {
      display: block;
      margin: 5px auto;
      padding: 15px 69px 15px 20px;
    }

    .headImg__search__filters__price {
      margin: 5px -2px 0 0;
      padding: 15px 15px 15px 20px;
      width: 167px;
    }

    .headImg__search__filters__submit {
     margin: 5px -2px 0 0;
     width: 168px;
     font-size: 16px;
     padding: 18px 22px;
   }
 }
}
}

@media (max-width: 768px) {
 p {
  font-size: 14px;
}

h1 {
 font-size: 25px;
}

h5 {
 font-size: 15px;
 white-space: nowrap;
}

a {
  font-size: 11px;
}

.headImg__search__filters {
  form {
    padding: 10px;
    display: inline-table;

    select {
      margin: 0 -2px 5px 0px;
      font-size: 14px;
      padding: 15px 47px 15px 20px;
    }

    .headImg__search__filters__adress {
      display: block;
      font-size: 14px;
      margin: 5px auto;
      padding: 15px 69px 15px 20px;
    }

    .headImg__search__filters__price {
      margin: 5px -2px 0 0;
      font-size: 14px;
      padding: 15px 15px 15px 20px;
      width: 133px;
    }

    .headImg__search__filters__submit {
     margin: 5px -2px 0 0;
     width: 133px;
     font-size: 14px;
     padding: 16px 10px;
   }
 }
}
} 
}



