/* Services*/
.indexContentWrapper {
	.indexContentWrapper__text {
		text-align: center;
		margin: 64px 0;
		font-size: 30px;
		font-weight: 500;
		line-height: 1.67;
		letter-spacing: normal;
		font-stretch: normal;
		font-style: normal;
		color: $text-color-black;

		a {
			color: $blue;

		}

		@media (max-width: 768px) {
			font-size: 15px;
		}
	}
}

.services {
	text-align: center;
	border-radius: 3px;
	box-shadow: 0 9px 20px 0 rgba(92, 105, 131, 0.22);

	.box {
		margin-top: 34px;
		margin-bottom: 34px;

		img {
			margin-bottom: 14px;
		}

		.services__maleIcon {
			width: 67px;
			height: 84px;
		}

		h2 {
			font-size: 30px;
			margin-bottom: 40px;
			line-height: 1.4;
		}

		.services__text {
			min-height: 450px;

			p {
				margin-bottom: 40px;
				font-size: 19px;
				line-height: 1.5;
				text-align: left;
				color: $text-gray;
				padding: 0 36px;
				position: relative;

				&:before {
					content: '';
					position: absolute;
					padding: 9px 6px;
					top: 0;
					left: 0;
					background: url("../images/svg/arrow-point-to-right-orange.svg");
				}
			}
		}

		a {
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			line-height: 1.3;
			padding: 12px 34px;
			background: $blue;
			color: $white;
			border-radius: 3px;
		}
	}

	@media (max-width: 991px) {
		box-shadow: unset;

		.box {
			box-shadow: 0 9px 20px 0 rgba(92, 105, 131, 0.22);
			max-width: 400px;
			margin: 50px auto;
			padding: 24px;
		}

		@media (max-width: 490px) {
			.box {
				box-shadow: 0 9px 20px 0 rgba(92, 105, 131, 0.22);
				max-width: 400px;
				margin: 50px auto;
				padding: 24px;

				img {
					width: 75px;
					height: 65px;
				}

				h2 {
					font-size: 15px;
					font-weight: bold;
					line-height: 1.4;
				}

				.services__text {
					min-height: 300px;

					p {
						font-size: 12px;

						&:before {
							background: url("../images/svg/arrow-point-to-right-orange-sm.svg");
							padding: 6px 4px;
						}
					}
				}

				a {
					font-size: 11px;
				}
			}
		}
	}
}
/* End Services*/

/* New Offer */
.offer {
	margin-top: 158px;

	.offer__header {
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		line-height: 2.1;
		color: $text-gray;
		margin-bottom: 57px;
	}

	.offer--border-top-right {
		border-top: 1px solid #7070704d;
		border-right: 1px solid #7070704d;
		padding: 82px 82px 82px 0;
	}

	.offer--border-top {
		border-top: 1px solid #7070704d;
		padding: 82px 0px 82px 82px;

		@media (max-width: 1050px) {
			padding: 82px 0px 82px 42px;
		}
	}

	.offer__img {
		float: left;
		padding-top: 22px;
	}

	.offer__info {
		padding-left: 220px;

		h5 {
			font-size: 19px;
			line-height: 1.32;
			letter-spacing: normal;
			text-align: left;
			color: $text-gray;
			padding-bottom: 5px;
		}

		h3 {
			font-size: 30px;
			line-height: 1.33;
			letter-spacing: normal;
		}

		p {
			font-size: 19px;
			line-height: 1.42;
			letter-spacing: normal;
			text-align: left;
			color: $text-gray;
			padding-top: 13px;
			padding-bottom: 13px;
		}

		a {
			font-size: 16px;
			font-weight: bold;
			letter-spacing: normal;
			text-align: left;
			color: $blue;
		} 
	}

	@media (max-width: 991px) {
		padding-right: 0;
		padding-left: 0;

		.offer--border-top-right {
			border-top: 1px solid #7070704d;
			border-right: unset;
			padding: 82px;
		}

		.offer--border-top {
			border-top: 1px solid #7070704d;
			padding: 82px;
		}
	}

	@media (max-width: 661px) {
		.offer--border-top-right {
			border-top: 1px solid #7070704d;
			border-right: unset;
			padding: 32px;
		}

		.offer--border-top {
			border-top: 1px solid #7070704d;
			padding: 32px;
		}

		.offer__img {
			float: left;
			padding-top: 22px;

			img {
				width: 99.1px;
				height: 99.1px;
			}
		}

		.offer__info {
			padding-left: 120px;

			h5 {
				font-size: 12px;			
			}

			h3 {
				font-size: 15px;
			}

			p {
				font-size: 12px;				
				padding-top: 13px;
				padding-bottom: 13px;
			}

			a {
				font-size: 13px;
			} 
		}
	}
}
/* End New Offer */

/* Purchase Offer */
.purchaseOffer {
	padding: 88px;

	@media (max-width: 420px) {
		padding: 20px;
	}

	.row {
		padding: 88px;
		border-radius: 3px;
		box-shadow: 0 9px 20px 0 rgba(92, 105, 131, 0.22);
		background-color: $white;

		.purchaseOffer__header {
			font-size: 19px;
			line-height: 1.4;
			letter-spacing: normal;
			text-align: center;
			color: $text-color-black;
			padding-bottom: 33px;
		}

		h3 {
			font-size: 30px;
			font-weight: 500;
			line-height: 1.5;
			letter-spacing: normal;
			color: $text-color-black;
			padding-bottom: 28px;

			span {
				color: #f87c6a;
			}
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			letter-spacing: normal;
			color: $text-gray;
			padding-bottom: 33px;
		}

		a {
			@include btn ($white,$orange);
			font-weight: bold;
			padding: 12px 21px;
		}

		.purchaseOffer__imgBox {
			height: 100%;
			display: flex;

			img {
				width: 277px;
				margin: auto;
			}
		}	
	}

	@media (max-width: 661px) {
		.row {
			padding: 25px;
			.purchaseOffer__header {
				font-size: 12px;
				line-height: 1.5;
			}

			h3 {
				font-size: 15px;
				padding-bottom: 13px;

				span {
					color: #f87c6a;
				}
			}

			p {
				font-size: 10px;
				line-height: 1.5;
				letter-spacing: normal;
				color: $text-gray;
				padding-bottom: 17px;
			}

			a {
				padding: 12px 21px;
				font-size: 11px;
				 white-space: nowrap;
			}

			.purchaseOffer__imgBox {
				height: 100%;
				display: flex;

				img {
					width: 160px;
					margin: auto;
				}
			}	
		}
	}
}
/* End Purchase Offer */