
.topnav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 13px 0 rgba(0, 0, 0, 0.12);
  background: #FFFFFF;
  overflow: hidden;

  .topnav__wrapper {
    display: flex;
    padding: 17px 20px 12px 20px;
    max-width: 1400px;
    margin: 0 auto;

    .topnav__logo {
      text-align: left;
      display: flex;
      color: $text-color-black;

      .topnav__logo__house {
        width: 53.3px;
        height: 57.4px;
        object-fit: contain;
      }

      span {
        padding-top: 15px;
        padding-left: 5px;
        font-size: 24px;
        font-weight: bold;
      }
    }

    .topnav__icon {
      display: none;

      @media screen and (max-width: 1150px)  {
        float: right;
        display: block;
        color: $text-color-black;
        position: absolute;
        right: 30px;
        top: 36px;
        font-size: 25px;
      }
    }

    .topnav__links {
      margin-left: auto;

      a {
        display: inline-block;
        color: $text-color-black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 19px;
        margin: 5px;

        &:hover {
          color: $black;
        }
      }

      .topnav__links--btn {
        @include btn ($blue, $white);
        border: 1px solid $blue;
        max-width: 120px;
      }

      .topnav__links-btn-blue {
        @include btn ($white, $blue);
        max-width: 120px;
      }

      a.active {
        color: $black;
      }

      @media screen and (max-width: 1150px) {
        a {
          display: none;
        }
      }
    }

    .topnav__langLinks {
      padding: 20px 14px;

      @media screen and (max-width: 1150px)  {
        margin-right: 50px;
        position: absolute;
        top: 11px;
        right: 20px;
      }

      .active {
        font-weight: bold;
      }

      a {
       font-size: 13px;
       line-height: 1.5;
     }

     span {
      font-weight: bold;
      font-size: 19px;
    }
  }
}
}

@media screen and (max-width: 1150px) {
  .topnav.responsive {
    .topnav__wrapper {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .topnav__links {
        margin: 50px auto 10px auto;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;

        a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .topnav .topnav__wrapper  {
    .topnav__logo  {
      .topnav__logo__house {
        width: 35px;
        height: 38px;
      }

      span {
        padding-top: 5px;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .topnav__langLinks {
      top: 2px;

      .active {
        font-weight: bold;
        display: none;
      }

      span {
        font-weight: bold;
        font-size: 19px;
        display: none;
      }
      a {
       font-size: 11px;
       line-height: 1.3;
     }
   }

   .topnav__icon {
    top: 26px;
  }
}
}



